
/* =========================
   LEFT BOTTOM LOGOUT
========================= */

.logout-sidebar-btn {
  position: fixed;
  left: 20px;
  bottom: 20px;
  z-index: 9999;

  width: 42px;
  height: 42px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #e5e7eb;
  border-radius: 9px;

  background: #ffffff;
  color: #697586;

  font-size: 18px;
  cursor: pointer;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);

  transition: all 0.2s ease;
}

.logout-sidebar-btn:hover {
  background: #fef2f2;
  color: #dc2626;
  border-color: #fecaca;
}


/* =========================
   RIGHT TOP LOGOUT
========================= */

.logout-top-btn {
  position: fixed;
  top: 18px;
  right: 250px;
  z-index: 9999;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  padding: 9px 14px;

  border: 1px solid #e5e7eb;
  border-radius: 8px;

  background: #ffffff;
  color: #697586;

  font-size: 14px;
  font-weight: 500;

  cursor: pointer;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);

  transition: all 0.2s ease;
}

.logout-top-btn svg {
  font-size: 17px;
}

.logout-top-btn:hover {
  background: #fef2f2;
  color: #dc2626;
  border-color: #fecaca;
}
